.error-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ec-image {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.error-screen .ec-image img {
  opacity: 1;
  transition: 1s opacity ease-out;
}
.error-screen .ec-image img.hidden{
  opacity: 0;
}
.error-screen button {
  width: 50%;
  height: 40px;
  background-color: darkgoldenrod;
  color: wheat;
  font-size: large;
  font-weight: bolder;
}