.home-screen {
  height: auto;
  overflow: auto;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}
.home-screen.hidden {
  overflow: hidden;
  height: 0px;
  opacity: 0;
}
.home-screen .header {
  display: flex;
  flex-direction: column;
  height: 80px;
  text-align: center;
  background-color: rgb(182, 149, 65);
}

.videos-list {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 31, 49);
  padding: 2vw;
}
.videos-list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 360px;
  overflow-x: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  padding-left: 2vw;
  padding-inline-start: 0px;
  transition: 0.9s padding-left ease-out;
}
.home-screen.hidden .videos-list ul{
  padding-left: 102vw;
}
.videos-list ul::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.videos-list h2 {
  padding-left: 2vw;
}

.videos-list .vl-item {
  flex: 0 0 auto;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  width: 466px;
  height: 322px;
}
.videos-list .vl-item:hover {
  width: 500px;
  height: 360px;
  background-color: rgb(182, 149, 65);
}
.videos-list .vl-item .vli-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 464px;
  height: 261px;
}
.videos-list .vl-item:hover .vli-cover {
  width: 500px;
  height: 281.25px;
}
.videos-list .vl-item .vli-cover .loading {
  overflow: hidden;
  height: 0px;
  opacity: 0;
  transition: 2s opacity;
}
.videos-list .vl-item .vli-cover img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 2s opacity ease-out;
}
.videos-list .vl-item h4 {
  padding-left: 10px;
  width: 454px;
  overflow: hidden;
  max-height: 18px;
}