.splash-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sc-image {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.splash-screen .sc-image img {
  opacity: 1;
  transition: 1s opacity ease-out;
}
.splash-screen .sc-image img.hidden{
  opacity: 0;
}